body {
    background: #eef2f3;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.card {
    background: white;
    padding: 25px;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.2);
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
    border: 1px solid #bbb;
    border-radius: 8px;
    font-size: 16px;
}

button {
    width: 95%;
    padding: 12px;
    background: #0077ff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #005ad1;
}

.sair {
    background: #ff3b3b;
    margin-top: 20px;
}

.sair:hover {
    background: #d32f2f;
}

.escondido { display: none; }

.erro { color: red; }
.sucesso { color: green; margin-top: 15px; }
